<p class="text-white">Añade un partido, un encuentro o un torneo</p>

<mat-form-field>
    <mat-label>{{ messages.selectBowlingAddTitle }}</mat-label>
    <mat-select (selectionChange)="changeForm()" [(value)]="selected">
        <mat-option [value]="messages.selectBowlingAddMatch">{{ messages.selectBowlingAddMatch }}</mat-option>
        <mat-option [value]="messages.selectBowlingAddEncounter">{{ messages.selectBowlingAddEncounter }}</mat-option>
        <mat-option [value]="messages.selectBowlingAddTournament">{{ messages.selectBowlingAddTournament }}</mat-option>
    </mat-select>
  </mat-form-field>

@if (selected === messages.selectBowlingAddMatch) {
    <app-bowling-add-match />
}
@else if (selected === messages.selectBowlingAddEncounter) {
    <app-bowling-add-encounter />
}
@else {
    <app-bowling-add-tournament />
}
